extends layout

block stylesheets
    link(rel="stylesheet", href="/css/login-desktop.css")

block content
    .login-container
        .login-content
            h2 Welcome Back
            form(action="/login", method="POST")
                .form-group
                    label(for="username") Username
                    input#username(type="text", name="username", value = username || '')
                    span#username-error.error-msg(style="display:inline;")=usernameError || ''
                .form-group
                    label(for="password") Password
                    input#password(type="password", name="password")
                    span#password-error.error-msg(style="display:inline;")=passwordError || ''
                button(type="submit").login-btn Login
                p.signup-link
                    | Don't have an account?
                    a(href="/signup")  Sign Up