extends layout

block stylesheets
    link(rel="stylesheet", href="/css/products-desktop.css")

block content
    main
        .productsContainer
            each product in products
                a.products(href=`/products/${product.id}`)
                    img.productImage(src=product.img_src alt='Image of ' + product.name)
                    span.productName #{product.name}
                    span.productPrice $#{product.price.toFixed(2)}