extends layout

block stylesheets
    link(rel="stylesheet", href="/css/signup-desktop.css")

block content
    .signup-container
        .signup-content
            h2 Create Account
            form(action="/signup", method="POST")
                .form-group
                    label(for="email") Email
                    input(type="email", id="email", name="email", required)
                .form-group
                    label(for="username") Username
                    input(type="text", id="username", name="username", required)
                .form-group
                    label(for="password") Password
                    input(type="password", id="password", name="password", required)
                button(type="submit").signup-btn Sign Up
                p.login-link
                    | Already have an account?
                    a(href="/login")  Login