extends layout

block stylesheets
    link(rel="stylesheet", href="/css/signup.css")

block content
    section.signup-container
        .signup-content
            h2 Create Account
            form#signup-form(action="/signup", method="POST")
                .form-group
                    label(for="username") Username
                    input#username(type="text", name="username", value = username || '', required minlength="4" maxlength="20")
                    span#username-error.error-msg(style="display:inline;")=usernameError || ''
                .form-group
                    label(for="password") Password
                    input#password(type="password", name="password", required minlength="8" maxlength="25")
                    span#password-error.error-msg(style="display:inline;")=passwordError || ''
                button(type="submit").signup-btn Sign Up
                p.login-link
                    | Already have an account?
                    a(href="/login")  Log In

block scripts
    script.
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('signup-form');
            const usernameInput = document.getElementById('username');
            const usernameError = document.getElementById('username-error');
            const passwordInput = document.getElementById('password');
            const passwordError = document.getElementById('password-error');

            function validateUsername() {
                const isValidLength = usernameInput.value.length >= 4 && usernameInput.value.length <= 20;
                const hasUppercase = /[A-Z]/.test(usernameInput.value);
                const hasNumber = /\d/.test(usernameInput.value);
                const isValid = isValidLength && hasUppercase && hasNumber;
                if(!isValid){
                    usernameError.textContent = 'Username must be 4–20 characters, include an uppercase letter and a number.';
                }
                else{
                    usernameError.textContent = ''
                }
                return isValid
            }

            function validatePassword() {
                const isValidLength = passwordInput.value.length >= 4 && passwordInput.value.length <= 20;
                const hasUppercase = /[A-Z]/.test(passwordInput.value);
                const hasNumber = /\d/.test(passwordInput.value)
                const hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(passwordInput.value);
                const isValid = isValidLength && hasUppercase && hasNumber && hasSpecialChar;
                if (!isValid) {
                    passwordError.textContent = 'Password must be 8-25 characters, include an uppercase letter, have a special character, and a number.';
                }
                else {
                    passwordError.textContent = ''
                }
                return isValid
            }
            usernameInput.addEventListener('input', validateUsername);
            passwordInput.addEventListener('input', validatePassword);

        });
