main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1.5rem;
	font-size: 3.5rem;
	background-color: #749D92;
	border-radius: 0.5rem;
}

/* Mobile Styling */
@media (max-width: 768px) {
	.error {
		font-size: 2rem;
		padding: 1rem;
		margin: 2rem 1rem;
	}
}