/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 16px;

}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #D3D9D4;
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: center;
}

/* Navbar Styles */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.625rem 1.25rem;
    background: #003153;
}

#navbar a{
    text-decoration: none;
}

#title {
    font-family: "Bungee Tint", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.searchContainer input {
    width: 45px;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background: #D3D9D4;
    color: black;
    border: 4px solid #749D92;
    outline: none;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.searchContainer input:focus {
    width: 350px;
    border-radius: 10px;
    cursor: text;
}

.searchContainer input:focus::placeholder {
    opacity: 0;
}

.searchContainer button {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.68rem;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.3s ease-in-out;
}

.searchContainer:focus-within button {
    opacity: 1;
    visibility: visible;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

#nav-links a {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.nav-img {
    display: inline-block;
    vertical-align: middle;
    max-width: 2rem;
    max-height: 2rem;
}

#nav-links a:hover {
    background-color: #749D92;
}

#nav-links li {
    position: relative;
}

#nav-links li:hover #nav-products {
    display: block;
}

#nav-links li:hover #profile-options {
    display: block;
}

.logout-link {
    background: none;
    border: none;
    color: white;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    width: 100%;
    text-align: center;
    display: block;
    border-radius: 0.5rem;
    font-weight: 600;
    white-space: nowrap;
}

.logout-link:hover{
    background-color: #749D92;
}

#nav-links li::after {
    content: "";
    position: absolute;
    top: 100%;         
    left: 0;
    width: 100%;
    height: 2.3rem;       
    pointer-events: auto;
}

#nav-products {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 1000;
    padding: 0;
    list-style: none;
    background: #003153;
    border-radius: 0.5rem;
}

#nav-products li a {
    display: block;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

#nav-products li a:hover {
    background-color: #749D92;
}

#profile-options{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 40%);
    z-index: 1000;
    padding: 0;
    list-style: none;
    background: #003153;
    border-radius: 0.5rem;
}

#profile-options form {
    margin: 0;
    padding: 0;
    display: block;
}

#profile-options a{
    display: block;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

/* Footer Styles */
#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 1.25rem;
    margin: auto;
    background-color: #003153;
    color: white;
    font-weight: 600;
}

.social-media img {
    margin-left: 1.875rem;
    max-width: 2rem;
    max-height: 2rem;
}

#X, #instagram, #discord {
    margin-left: 3rem;
}

#X {
    margin-top: 0.1875rem;
}

#instagram {
    margin-top: 0.1875rem;
}

#discord {
    margin-bottom: 0.1875rem;
}