.signup-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-content {
	width: 320px;
	padding: 3rem;
	text-align: center;
	align-items: center;
	background: #749D92;
	border: 1px solid black;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.3);
}

.signup-content h2 {
	margin-bottom: 1.5rem;
}

.form-group {
	text-align: left;
	margin-bottom: 1rem;
}

.form-group label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.form-group input {
	width: 94.5%;
	padding: 0.5rem;
	border: 1px solid black;
	outline: none;
	border-radius: 0.5rem;
}

.signup-btn {
	padding: 0.75rem;
	margin-top: 1rem;
	width: 100%;
	cursor: pointer;
	color: white;
	background-color: #760303;
	border: none;
	border-radius: 0.5rem;
	transition: background-color 0.3s;
}

.signup-btn:hover {
	background-color: #A80505;
}

.login-link {
	margin-top: 1rem;
	font-size: 0.9rem;
}

.login-link a {
	color: #760303;
	text-decoration: none;
}

.error-msg {
	color: #760303;
	display: none;
	font-size: 0.9rem;
}

/* Mobile Friendly */
@media (max-width: 768px) {
	.signup-container {
		padding: 2rem 1rem;
	}

	.signup-content {
		width: 100%;
		max-width: 320px;
		padding: 2rem;
		box-sizing: border-box;
	}

	.form-group input {
		width: 100%;
	}

	.signup-btn {
		font-size: 1rem;
		padding: 0.75rem;
	}

	.login-link {
		font-size: 0.85rem;
		margin-top: 1rem;
	}

	.error-msg {
		font-size: 0.8rem;
	}
}