.account-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #749D92;
}

.sidebar {
    width: 250px;
    background: #D3D9D4;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

.profile {
    text-align: center;
    margin-bottom: 2rem;
}

.profile h3{
    color: black   ;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.sidebar-links {
    width: 100%;
}

.sidebar-links a {
    display: block;
    padding: 1rem;
    margin: 0.5rem 0;
    text-align: center;
    background-color: papayawhip;
    border-radius: 8px;
    text-decoration: none;
    color: midnightblue;
    font-weight: bold;
    transition: background-color 0.3s;
}

.sidebar-links a:hover {
    background-color: lightpink;
}

.main-content {
    flex: 1;
    padding: 2rem;
    border: 1px solid white;
}

.main-content h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: bisque;
}

.order-card {
    background: lemonchiffon;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.order-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.order-btn {
    padding: 0.75rem 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-btn:hover {
    background-color: #45a049;
}

hr {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #ccc;
}